body {
    visibility: hidden;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    color:  #566573;
    text-align: center;
    
}

section .container{
    width: 100%;
    
}

section #infoWrapper{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    background: rgba(35, 35, 35, 0.3);
    width: 80%;
    min-width: 550px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 2em;
    border: 3px solid black;
    border-radius: 10px;
}

section #cityName {
    margin-bottom: 50px;
    font-size: 50px;
}

section #hiLoWrapper{
    display: inline-block;
}

section #temperature {
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    display: inline-block;
}

section #highTemp {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

section #lowTemp {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
   
}

section #additionalInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

section #additionalInfo .infoDiv {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px black;
    height: 110px;
    width: 100px;
    padding-bottom: 0px;
}

section #additionalInfo .infoDiv h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;;
}

section #updateTime{
    width: 50%;
    min-width: 400px;
    margin: auto;
    text-align: right;
}


